body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar {
    width: 80%;
    max-width: 1250px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
}

.nav-title {
    flex: 3;
    font-weight: bold;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
}

.nav-bar-links {
    margin: auto;
    flex: 2;
    display: flex;
    justify-content: space-between;

}

.hero {
    width: 80%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 0 auto;
}

.hero-text {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

img {
    height: 250px;
    margin-left: 50px;
    flex: 5.5;
}

button {
    background-color: #3882F6;
    border: 0px;
    color: white;
    border-radius: 4px;
    padding: 7px 20px;
    margin-top: 0;
    width: 100px;
}

.hero-para {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
    padding-bottom: 0;
}

.section-title {
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    margin-bottom: 45px;
}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.info-section {
    display: flex;
    width: 65%;
    max-width: 900px;
    justify-content: space-between;
    margin: 0 auto 100px;
}

.card{
    display: wrap;
    width: 150px;
}

.card p {
    margin-top: 5px;
    text-align: center;
    color: #767d88;
}

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.quote-body{
    width: 65%;
    max-width: 900px;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: wrap;
    color: #1F2937;
}

.quoter{
    width: 65%;
    max-width: 900px;
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    padding-bottom: 60px;
}

.call-to-action {
    width: 80%;
    max-width: 1250px;
    background-color: #3882F6;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    height: 100px;
    display: flex;

}

.call-text {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
}

.call-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 20px;
}

.call-text p {
    margin-top: 0;
}

.call-to-action button {
    border: 1.5px solid white;
    margin: 0 15%;
    font-size: 14px;
    font-weight: bold;
}

